name: Flutter CI

on:
  push:
    branches:
      - development
      - master   
  pull_request:
    branches:
      - development
      - master

  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.1'

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter analyze (no fail)
        run: flutter analyze || true

      - name: Flutter test (no fail)
        run: flutter test || true

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk

