name: Flutter CI

on:
  push:
    branches:
      - development
      - master
  pull_request:
    branches:
      - development
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.1'

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter analyze (no fail)
        run: flutter analyze || true

      - name: Flutter test (no fail)
        run: flutter test || true

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK to Diawi
        id: diawi_upload
        run: |
          response=$(curl -X POST "https://upload.diawi.com/" \
          -H "accept: application/json" \
          -F "token=${{ secrets.DIAWI_TOKEN }}" \
          -F "file=@build/app/outputs/flutter-apk/app-release.apk" \
          -F "wall_of_apps=1")

          echo "Diawi response: $response"
          echo "::set-output name=response::$response"

      - name: Save Diawi Response as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: diawi-upload-response
          path: diawi_response.json

      - name: Write Response to File
        run: echo "${{ steps.diawi_upload.outputs.response }}" > diawi_response.json
